body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f4f1ec;
}

.inicio {
    text-align: center;
    padding: 70px;
    background-color: #fafafa;
}

.controles {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.controles input, .controles select {
    padding: 10px;
}

.biblioteca {
    padding: 40px;
}

.estante {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 14px solid #5d4037;
    background: linear-gradient(#6d4c41, #5d4037);
}

.libro {
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.libro:hover {
    transform: translateY(-10px);
}

.libro img {
    width: 100%;
    height: 150px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

.libro p {
    font-size: 14px;
}
